---
interface Props {
	size?: 'small' | 'large'
	image: string
	title?: string
	content?: string
	style?: string
	alt?: string
}
const { image, title, content, size = 'small', style = '', alt } = Astro.props
const hasText = title || content
---

<div class={`card ${size === 'small' ? 'lg:w-[380px] h-auto' : 'max-w-[800px] h-auto'} ${style}`}>
	<img class={`${hasText ? 'rounded-t-2xl' : 'rounded-2xl'}`} src={image} alt={alt || title} />

	{
		hasText ? (
			<div class="content bg-primary">
				<h2 class={`mb-2 ${size === 'small' ? '' : 'text-[32px]'} font-bold`}>{title}</h2>
				<p class="text-[16px]">{content}</p>
			</div>
		) : null
	}
</div>

<style>
	.card {
		box-shadow: 8px 8px 0px 0px rgba(246, 176, 0, 1);
		border-radius: 15px;

		.content {
			border-radius: 0px 0px 15px 15px;
			padding: 1.5rem;
		}
	}
</style>
