---
import SocialMedias from './SocialMedias.astro'
---

<footer>
	<div class="flex h-[10vh] flex-col items-center justify-center gap-4">
		<div class="lg:hidden">
			<SocialMedias />
		</div>
		<p class="uppercase">Copyright 2024 © Grioh Games</p>
	</div>
</footer>
