---
import { Icon } from 'astro-icon/components'
import SocialMedias from './SocialMedias.astro'

import { MenuItens } from '../data/menu'

const currentPage = Astro.url.pathname
console.log(currentPage)
---

<nav class="hidden lg:my-12 lg:ml-40 lg:flex lg:flex-col lg:gap-12 lg:pr-10">
	<div>
		<Icon name="logo_desktop" size={180} />

		<ul class="mb-36 mt-12 flex flex-col gap-4">
			{
				MenuItens.map((el) => (
					<a href={el.router}>
						<li
							class:list={[
								(el.name === 'Início' && currentPage === '/') ||
								(currentPage.includes(el.router) && el.name !== 'Início')
									? 'bg-white text-primary'
									: '',
								'align-center flex items-center gap-2 rounded-full px-4 py-2 hover:bg-white hover:text-primary'
							]}
						>
							<Icon class="hover:text-primary" name={el.icon} size={22} />
							<p class="text-2xl font-bold uppercase">{el.name}</p>
						</li>
					</a>
				))
			}
		</ul>

		<SocialMedias />
	</div>
</nav>
