---
import { Icon } from 'astro-icon/components'
import { Astronav, CloseIcon, MenuIcon, MenuItems, OpenIcon } from 'astro-navbar'
import { MenuItens } from '../data/menu'

const currentPage = Astro.url.pathname
---

<header class="container flex justify-between gap-5 p-5 lg:hidden">
	<Astronav closeOnClick>
		<div class="flex w-full items-center justify-between">
			<a href="#">
				<Icon name="logo_mobile" size={40} />
			</a>
			<div class="block lg:hidden">
				<MenuIcon>
					<OpenIcon>
						<Icon name="menu_sandwich" size={30} />
					</OpenIcon>
					<CloseIcon>
						<Icon name="close" size={30} />
					</CloseIcon>
				</MenuIcon>
			</div>
		</div>
	</Astronav>

	<MenuItems class="absolute left-0 mt-14 hidden h-[100vh] w-[65vw] bg-primary lg:flex">
		<ul class="mt-14 flex flex-col gap-4">
			{
				MenuItens.map((el) => (
					<a href={el.router}>
						<li
							class:list={[
								'align-center mx-4 flex items-center gap-2 rounded-full px-4 py-2 hover:bg-white hover:text-primary',
								currentPage === el.router && 'bg-white text-primary'
							]}
						>
							<Icon class="hover:text-primary" name={el.icon} size={20} />
							<p class="text-xl font-bold uppercase">{el.name}</p>
						</li>
					</a>
				))
			}
		</ul>
	</MenuItems>
</header>
