---
import Gallery from '@/components/Gallery.astro'
import Base from './Base.astro'
---

<Base title={'BodyGuards'}>
	<div class="mb-12">
		<a
			href="/jogos"
			class="my-4 flex w-fit rounded border border-primary p-2 text-primary lg:hidden"
			>←Visualizar todos os jogos</a
		>
		<h1 class="mb-8 text-[32px] font-bold text-black lg:text-[64px]">BodyGuards</h1>

		<Gallery
			mainImage="/images/site-games-bodyguard-main.jpg"
			otherImages={[
				'/images/site-games-bodyguard-aux1.png',
				'/images/site-games-bodyguard-aux2.png',
				'/images/site-games-bodyguard-aux3.png'
			]}
		/>
		<div class="flex flex-col gap-8">
			<div>
				<h2 class="mb-4 text-4xl font-bold text-black">Descrição</h2>
				<p class="text-2xl text-black">
					Seja um glóbulo branco e derrote hordas de invasores, sobrevivendo o maior tempo possível,
					para salvar órgãos do corpo humano! Durante as fases, colete recursos para recuperar sua
					vida, aumentar seu poder de fogo, gerar um escudo de proteção ou até mesmo aumentar suas
					habilidades de esquiva, com o objetivo de destruir os inimigos que tentarão atrapalhar sua
					jornada!
				</p>
			</div>

			<div>
				<h2 class="mb-4 text-4xl font-bold text-black">Mecânica</h2>
				<p class="text-2xl text-black">
					Diversos planetas foram invadidos por patógenos invasores que desejam destruir os sistemas
					ricos em recursos! Agora, é preciso lutar para proteger os planetas e salvar esses mundos
					da destruição. Colete itens para recuperar suas energias e fortalecer suas defesas,
					munições para ampliar seu poder de fogo e derrotar inimigos, além de recursos que o irão
					ajudar a salvar os sistemas interplanetários. Bodyguards nasce do desejo de levar uma
					mensagem de prevenção e combate a doenças que afetam nossos órgãos, de uma maneira
					divertida e repleta de desafios, misturando elementos de jogos de shoot ‘em up em duas
					dimensões e adicionando elementos de acessibilidade, permitindo que jogadores com as mais
					diversas necessidades sejam capazes de se divertir
				</p>
			</div>
		</div>
	</div>
</Base>
