---
import { Icon } from 'astro-icon/components'

const socialMedias = ["x", "ig", "spotfy", "youtube"]
---
<footer class="flex flex-col items-center gap-4">
  <div class="flex flex-row gap-4">
    {socialMedias.map((el) => (
      <button><Icon name={el} /></button>
    ))}
  </div>
  <p class="uppercase">Copyright 2024 © Grioh Games</p>
</footer>